*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding:0;
    font-family: "Helvetica";
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* ----GLOBAL------------------------------------ */




/* ----Navigation------------------------------------ */

.navigation {
    display: flex;
    background-color: #e8e5e480;
    padding: 0.4em .4em;
    width: 50%;
    max-width: 400px;
    min-width: 300px;
    margin: 1em auto;
    border-radius: 100px;
    justify-content: space-between;
    font-size: .75rem;
}

.item__navigation {
    background-color: transparent;
    border-radius: 100px;
    padding: 1em 2em;
}




/* ----main------------------------------------ */





/* ----sdfasg------------------------------------ */